# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.*
config/

# Ignore log files
logs/
*.log

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore build and deployment files
dist/
build/
out/

# Ignore dependency lock files
package-lock.json
yarn.lock
npm-shrinkwrap.json
